h1 {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5;
}

p, .text {
  font-size: 1rem;
  line-height: 1.5;
}

.text-bold {
  font-weight: bold;
}

.text-dim {
  color: var(--c-grey);
}

.text-small {
  font-size: .8rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.nuxt-link-exact-active {
  text-decoration: underline;
}

@media (min-width: 40rem) {
  h1 {
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .text-small {
    font-size: .9rem;
  }
}

@media (min-width: 60rem) {
  h1 {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .text-small {
    font-size: 1rem;
  }
}
